body {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

header {
    background-color: #222e50;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
    font-size: 0.8rem;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    transition: 0.4s all linear;
    padding: 5px 10px;
}

ul li a:hover {
    color: #bf0808;
}

.section {
    padding: 20px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.habitat {
    display: flex;
    justify-content: center;
    max-width: 500px;
    border-radius: 7px;
    border: 3px solid #a3a3a3;
}

.paragraph {
    display: block;
    font-family: arial;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.history {
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    border: 3px solid #cacaca;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 5px #000000e1;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 10px;
}

.card p {
    margin: 10px;
    font-size: 0.9em;
}

footer {
    background: #222e50;
    color: white;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
}

.easteregg {
    text-decoration: none;
    color: #fff;
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    transition: 0.4s all linear;
}

.easteregg:hover {
    color: #bf0808;
}