body {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    cursor: url(/css/img/cursor.cur), auto;
}

.headerImage {
    background-image: url(/css/img/banners/bannerbear.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.headerImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007b;
}

.headerContent {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.headerContent h1 {
    font-size: 2.5rem;
}

.headerContent p {
    font-size: 1.2rem;
    margin-top: 10px;
    margin: 5px 0 20px;
    font-weight: lighter;
    opacity: 0.8;
}

nav {
    background-color: #1e2a38;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

ul li a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 1rem;
    position: relative;
    transition: 0.5s ease;
    padding: 5px 10px;
}

ul li a:hover {
    color: #e67e22;
}

.images {
    display: flex;
    justify-content: center;
}

.images img {
    width: 470px;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner img {
    width: 100%;
    height: auto;
}

.section {
    padding: 20px;
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.habitat {
    display: flex;
    justify-content: center;
    width: 480px;
    border-radius: 7px;
    border: 3px solid #a3a3a3;
    transition: transform 0.5s;
}

.habitat:hover {
    transform: scale(1.2);
}

.paragraph {
    display: block;
    font-family: arial;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 2px solid #e6e6e6;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #222e50;
    color: #d1d0d0;
}

table tr:nth-child(even) {
    background-color: #d2d2d2;
}

table tr:hover {
    background-color: #dddddd;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    margin: 20px;
    border-radius: 7px;
    border: 3px solid #535353;
    box-shadow: 8px 6px 6px #000000b1;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1 1 calc(250px - 20px);
    max-width: 300px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 10px;
}

.card p {
    margin: 10px;
    font-size: 0.9em;
}

.help {
    border-radius: 15px;
    margin: 40px 40px;
    background-color: #80808041;
    padding: 20px;
    text-align: center;
}

.help h2 {
    font-size: 1.8rem;
    color: #e70b0b;
}

.help p {
    color: #000000;
    font-size: 18px;
}

.links {
    background-color: #969696bd;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 10px;
}

.site {
    color: #000000;
}

.site:hover {
    color: #e70b0b;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #545454;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#backToTop:hover {
    background-color: #989898;
}

footer {
    font-weight: bold;
    color: #fff;
    margin-top: auto;
    text-align: center;
    padding: 20px;
    background-color: #222e50;
    border-top: 3px solid #ccc;
}

footer .social {
    margin: 10px 0;
}

footer .social img {
    width: 40px;
    margin: 0 10px;
    transition: transform 0.3s;
    border-radius: 8px;
}

footer .social img:hover {
    transform: scale(1.2);
}

.easteregg {
    text-decoration: none;
    color: #fff;
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    transition: 0.4s all linear;
}

.easteregg:hover {
    color: #e74c3c;
}