body {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #222e50;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
    font-size: 0.8rem;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: monospace;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    transition: 0.4s all linear;
    padding: 5px 10px;
}

ul li a:hover {
    color: #e74c3c;
}

.section {
    padding: 20px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.habitat {
    display: flex;
    justify-content: center;
    width: 480px;
    border-radius: 7px;
    border: 3px solid #a3a3a3;
    transition: transform 0.5s;
}

.habitat:hover {
    transform: scale(1.5);
}

.paragraph {
    display: block;
    font-family: arial;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 2px solid #e6e6e6;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #222e50;
    color: #d1d0d0;
}

table tr:nth-child(even) {
    background-color: #d2d2d2;
}

table tr:hover {
    background-color: #dddddd;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    border: 3px solid #acacac;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 6px 8px 5px #000000d5;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    margin: 10px;
}

.card p {
    margin: 10px;
    font-size: 0.9em;
}

.help {
    padding: 20px;
    text-align: center;
}

.help h2 {
    font-size: 1.8rem;
    color: #002346;
}

.help p {
    color: #002346;
    font-size: 18px;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.help button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.help a {
    text-decoration: none;
    color: #fff;
}

.help button:hover {
    background-color: #c0392b;
}

footer {
    background: #222e50;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    color: #fff;
    padding: 20px 10px;
    margin-top: auto;
}

.social {
    margin: 10px 0;
}

.social img {
    width: 40px;
    border-radius: 10px;
}

.social a {
    margin: 0 10px;
}

.easteregg {
    text-decoration: none;
    color: #fff;
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    transition: 0.4s all linear;
}

.easteregg:hover {
    color: #e74c3c;
}