body {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin: 0;
    background-color: #f4f4f4;
    cursor: url(/css/img/cursor.cur), auto;
}

.headerImage {
    background-image: url(/css/img/banners/elephantbanner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.headerImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007b;
}

.headerContent {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.headerContent h1 {
    font-size: 2.5rem;
}

.headerContent p {
    font-size: 1.2rem;
    margin-top: 10px;
    margin: 5px 0 20px;
    font-weight: lighter;
    opacity: 0.8;
}

nav {
    background-color: #1e2a38;
    display: flex;
    justify-content: center;
    padding: 0 1em;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

ul li a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 1rem;
    font-family: arial;
    font-weight: bold;
    position: relative;
    transition: 0.5s ease;
    padding: 0 10px;
}

ul li a:hover {
    color: #c52222;
}

.section {
    padding: 20px;
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
}

.images img {
    width: 430px;
    padding: 10px;
}

footer {
    font-weight: bold;
    color: #fff;
    margin-top: auto;
    text-align: center;
    padding: 20px;
    background-color: #222e50;
    border-top: 3px solid #ccc;
}

footer .social {
    margin: 10px 0;
}

footer .social img {
    width: 40px;
    margin: 0 10px;
    transition: transform 0.3s;
    border-radius: 8px;
}

footer .social img:hover {
    transform: scale(1.2);
}