body {
    font-family: arial;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #222e50;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
}

header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: arial;
}

header p {
    font-size: 1rem;
    font-weight: bold;
    font-family: arial;
}

.intro {
    text-align: center;
    padding: 1rem 1rem;
}

.intro h1 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.intro p {
    font-size: 1.2rem;
    font-family: arial;
    font-weight: bold;
}

.mainTitle {
    font-family: arial;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.text {
    font-family: arial;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
}

h1 {
    font-family: arial;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.animalCard {
    border-radius: 7px;
    border: 3px solid #535353;
    box-shadow: 8px 6px 6px #000000b1;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1 1 calc(250px - 20px);
    max-width: 300px;
}

.animalCard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.animalCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.animalCard a {
    text-decoration: none;
}

.animalCard .info {
    padding: 15px;
}

.animalCard .info h2 {
    margin: 0;
    font-size: 1.3rem;
    color: #000000;
}

.animalCard .info p {
    margin: 10px 0 0;
    font-size: 1em;
    color: #000000;
    font-weight: bold;
}

button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #0073e6;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005bb5;
}

footer {
    font-weight: bold;
    color: #fff;
    margin-top: auto;
    text-align: center;
    padding: 20px;
    background-color: #222e50;
    border-top: 3px solid #ccc;
}

footer .social {
    margin: 10px 0;
}

footer .social img {
    width: 40px;
    margin: 0 10px;
    transition: transform 0.3s;
    border-radius: 8px;
}

footer .social img:hover {
    transform: scale(1.2);
}