body {
    font-family: arial;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    cursor: url(/css/img/cursor.cur), auto;
}

.headerImage {
    background-image: url(/css/img/banners/bearbannerb.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.headerImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000007b;
}

.headerContent {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.headerContent h1 {
    font-size: 2rem;
}

.headerContent p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.contentImage {
    background-image: url(/css/img/banners/bannerWolf.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
    margin: 40px 40px;
    box-shadow:
    inset 0 -3em 3em rgba(187, 187, 187, 0.3),
    0 0 0 2px white,
    0.3em 1rem 1em rgba(0, 0, 0, 0.845);
}

.contentImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1c1c7b;
    border-radius: 10px;
}

.contentSection {
    position: relative;
    z-index: 1;
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
    margin-top: 40px;
}

.contentSection h1 {
    font-size: 2rem;
}

.contentSection p {
    font-size: 1.2rem;
    margin-top: 10px;
}

header h1 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: arial;
}

header p {
    font-size: 1rem;
    font-weight: bold;
    font-family: arial;
}

.section {
    background-color: #97979762;
    margin: 40px 40px;
    border-radius: 20px;
    border: 1px #1d1d1d solid;
}

.section h1 {
    color: #c52222;
}

.section p {
    font-family: Arial;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

nav {
    background-color: #1e2a38;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    padding: 0 1em;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

ul li a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 1rem;
    font-family: arial;
    font-weight: bold;
    position: relative;
    transition: 0.5s ease;
    padding: 0 10px;
}

ul li a:hover {
    color: #c52222;
}

.scrollBtn {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #bcbcbc;
    color: #0f0f0f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scrollBtn:hover {
    background-color: #ffffff;
}

.text {
    font-family: arial;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
}

.mammals {
    margin-top: 40px;
    padding: 20px;
    font-family: arial;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.rep {
    margin-top: 40px;
    padding: 20px;
    font-family: arial;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.amp {
    margin-top: 40px;
    padding: 20px;
    font-family: arial;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.animalCard {
    border-radius: 7px;
    border: 3px solid #535353;
    box-shadow: 8px 6px 6px #000000b1;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1 1 calc(250px - 20px);
    max-width: 300px;
}

.animalCard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px #0000007c;
}

.animalCard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.animalCard a {
    text-decoration: none;
    cursor: url(/css/img/cursor.cur), auto;
}

.animalCard .info {
    padding: 15px;
}

.animalCard .info h2 {
    margin: 0;
    font-size: 1.3rem;
    color: #000000;
}

.animalCard .info p {
    margin: 10px 0 0;
    font-size: 1em;
    color: #000000;
    font-weight: bold;
}

button#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #545454;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#backToTop:hover {
    background-color: #989898;
}

footer {
    font-weight: bold;
    color: #fff;
    margin-top: auto;
    text-align: center;
    padding: 20px;
    background-color: #222e50;
    border-top: 3px solid #ccc;
}

footer .social {
    margin: 10px 0;
}

footer .social img {
    width: 40px;
    margin: 0 10px;
    transition: transform 0.3s;
    border-radius: 8px;
}

footer .social img:hover {
    transform: scale(1.2);
}