body {
    font-family: arial;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #222e50;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
    font-size: 0.6rem;
    font-weight: bold;
    font-family: arial;
}

header p {
    font-size: 1rem;
    font-weight: bold;
    font-family: arial;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: monospace;
    font-size: 17px;
    font-weight: bold;
    position: relative;
    transition: 0.4s all linear;
    padding: 5px 10px;
}

ul li a:hover {
    color: #bf0808;
}

main {
    display: flex;
    justify-content: center;
}

.hero {
    text-align: center;
    padding: 1rem 1rem;
}

.hero h1 {
    font-size: 2.7rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1rem;
    font-family: arial;
    font-weight: bold;
}

.beargif {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 330px;
    margin-top: 10px;
    border-radius: 5px;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.mainTitle {
    font-family: arial;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.animal-card {
    background-color: white;
    border: 3px solid #acacac;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 6px 7px 6px #000000c1;
}

.animal-card img {
    width: 100%;
    height: auto;
}

.animal-card .info {
    padding: 15px;
}

.animal-card .info h2 {
    margin: 0;
    font-size: 1.5em;
    color: #000000;
}

.animal-card .info p {
    margin: 10px 0 0;
    font-size: 1em;
    color: #000000;
    font-weight: bold;
}

footer {
    background: #222e50;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
    color: #fff;
    padding: 20px 10px;
    margin-top: auto;
}

.social {
    margin: 10px 0;
}

.social img {
    width: 40px;
    border-radius: 10px;
}

.social a {
    margin: 0 10px;
}